body {
    background-color: hsl(0, 0%, 0%);
    padding:0px;
    margin:0px;
    }

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: hsl(0, 0%, 0%);
}

li, a, button {
    font-weight :500;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 30px, 10%;
}



.title_div {
    background-color: hsl(0, 0%, 0%);
    position:relative;
    color: white;
    text-align: center;
    padding:0px;
    padding-bottom: 10px;
    top:0px;
    width:100%;
    }
.top_nav {
    background-color: hsl(0, 0%, 5%);
    z-index: 2;
    position:fixed;
    height:40px;
    min-width:100%;
    color: white;
    vertical-align:middle
    font-size: 25px;
    text-decoration:none
    display:block ;
    overflow:hidden ;
    }
.button_link {
    float:left;
    height:inherit;
    color: inherit;
    padding: 10px 15px 10px 15px;
    background-color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration:none;
    direction:ltr;
    }
.top_nav a.button_link:hover {
    color : rgb(255, 255, 204);
    background-color : rgb(0, 0, 0);
    }
h1 {
    font-size:3vw;
    margin:0px;
    padding:0px;
    }
h2 {
    font-size:2vw;
    margin:0px;
    padding:0px;
    }

