* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    font-family: lato;
    font-size: 70px;
  }
  section {
    background:hsl(0, 0%, 0%);
    height: calc(100vh - 10vh);
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.body{
    height: calc(15vh);
  }
  
  #main-nav a {
    font-family:  'Calibri';
    color: #f6f7f8;
    background: hsl(0, 0%, 10%);
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
  }
  #main-nav a:hover {
    background: hsl(0, 0%, 0%);
    color: rgb(253, 246, 145)
  }
  
  
  #main-nav ul {
    list-style: none;
    display: flex;
  }
  
  #main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  #main-nav li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0px;
    
  }
  
  .submenu li {
    display: none;
    position: absolute;
    top: 0px;
  }
  
  .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }
 

.invert{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(104%) contrast(101%);
}

#language_select:hover .invert{
    filter: invert(99%) sepia(96%) saturate(875%) hue-rotate(327deg) brightness(107%) contrast(98%);
}

#main-nav li:last-child{
    margin-left: auto;
}

body{
    background-color: hsl(0, 0%, 0%);
}

.descending_flex_container {
  display: flex;
  direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress_images{
  width: auto;
  height: auto;
}

.progress_videos{}

p{
  text-mar
}